header {
    text-align: center;
}

.option {
    text-align: middle;
}

input {
    width: 12px;
    margin-right: 1em;
    flex-shrink: 0;
  }

  

.option {
    display:flex;
    flex-direction: column;
    align-items: baseline;
    width:30%;
    margin:0 auto;
    /* border: 1px solid hotpink; */
    text-align:left;
    /* justify-content:space-around; */
}


div {}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-bottom: 0.5rem solid; */
}
.anime-card{
    width: auto; 
    height: 1000;
}

.animeImg {
    min-width: 400px;
    min-height: auto;
  }

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    text-align:center;
    /* background: linear-gradient(45deg,purple, blue);
    height: 100vh; */
    font-size:x-large;
    background-image: linear-gradient(45deg, rgb(20, 222, 124) 0%, rgb(20, 222, 124) 21%,rgb(25, 190, 119) 21%, rgb(25, 190, 119) 37%,rgb(30, 158, 113) 37%, rgb(30, 158, 113) 46%,rgb(35, 126, 108) 46%, rgb(35, 126, 108) 53%,rgb(39, 94, 103) 53%, rgb(39, 94, 103) 59%,rgb(44, 62, 97) 59%, rgb(44, 62, 97) 77%,rgb(49, 30, 92) 77%, rgb(49, 30, 92) 100%);
}

a {
    text-decoration: none;
    color: white;
}

li {
    text-decoration: none;
    list-style: none;
}

.survey li {
    margin: 10px;
    cursor: pointer;
    /* text-align: center; */
}

.secret {
    height: 500px;
    width: 500px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
    /* border-bottom: 2rem solid black; */
  }
/* Add borders to all the questions */
.q1{
    border: 10px solid black;
}

.q2{
    border: 10px solid black;
}

.q3{
    border: 10px solid black;
}

.q4{
    border: 10px solid black;
}
.q4{
    border: 10px solid black;
}
.q5{
    border: 10px solid black;
}
.q6{
    border: 10px solid black;
}
.q7{
    border: 10px solid black;
}
.q8{
    border: 10px solid black;
}
.q9{
    border: 10px solid black;
}
.q10{
    border: 10px solid black;
}
.q11{
    border: 10px solid black;
}
.q12{
    border: 10px solid black;
}
.q13{
    border: 10px solid black;
}
.q14{
    border: 10px solid black;
}
.q15{
    border: 10px solid black;
}
.q16{
    border: 10px solid black;
}
.q17{
    border: 10px solid black;
}
.q18{
    border: 10px solid black;
}
.q19{
    border: 10px solid black;
}
.q20{
    border: 10px solid black;
}
/* Add a hover effect to all the questions  */
.q1:hover{
    background-color:lightblue
}
.q2:hover{
    background-color:lightblue
}
.q3:hover{
    background-color:lightblue
}
.q4:hover{
    background-color:lightblue
}
.q5:hover{
    background-color:lightblue
}
.q1:hover{
    background-color:lightblue
}
.q6:hover{
    background-color:lightblue
}
.q7:hover{
    background-color:lightblue
}
.q8:hover{
    background-color:lightblue
}
.q9:hover{
    background-color:lightblue
}
.q10:hover{
    background-color:lightblue
}
.q11:hover{
    background-color:lightblue
}
.q12:hover{
    background-color:lightblue
}
.q13:hover{
    background-color:lightblue
}
.q14:hover{
    background-color:lightblue
}
.q15:hover{
    background-color:lightblue
}
.q16:hover{
    background-color:lightblue
}
.q17:hover{
    background-color:lightblue
}
.q18:hover{
    background-color:lightblue
}
.q19:hover{
    background-color:lightblue
}
.q20:hover{
    background-color:lightblue
}




/* Header Stuff */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);

h1,
p,
a{
  margin: 0;
  padding: 0;
  font-family: 'Lato';
}

h1 {
  font-size: 3.3em;
  padding: 10px 0;
  font-weight: 800;
  text-shadow: 10px 10px 3px black
}

p {
  font-size: 1.5em;
  font-weight: 900;
  letter-spacing: 5px;
  text-shadow: 5px 2px 3px black
  
}

.header {
  width: 100%;
  padding:60px 0;
  text-align: center;
  /* background: linear-gradient(45deg, rgb(20, 222, 124) 0%, rgb(20, 222, 124) 21%,rgb(25, 190, 119) 21%, rgb(25, 190, 119) 37%,rgb(30, 158, 113) 37%, rgb(30, 158, 113) 46%,rgb(35, 126, 108) 46%, rgb(35, 126, 108) 53%,rgb(39, 94, 103) 53%, rgb(39, 94, 103) 59%,rgb(44, 62, 97) 59%, rgb(44, 62, 97) 77%,rgb(49, 30, 92) 77%, rgb(49, 30, 92) 100%); */
  background: url("https://cdna.artstation.com/p/assets/images/images/041/571/736/large/leys-1.jpg?1632086359");
  color: white;
}


.btn-bgstroke {
  font-size: 30px;
  display: inline-block;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: 300;
  margin-top: 30px; 
}

.btn-bgstroke:hover {
  background-color: white;
  color: #33cccc;
}



/* Submit Button CSS */
.submit-button {
	background: rgb(49, 30, 92) 77%;
	color: white;
	border-style: outset;
	border-color: white;
	height: 75px;
	width: 125px;
    font-weight: 300;
    font-size: 25px;
	font-family: 'Lato';
	text-shadow: none;
}

.submit-button:hover{
    background-color: rgb(25, 190, 119) 21%;
    font-size: larger;
}

/* .submit-button{
    font-size: large;
} */

.url-btn{
    font-size: large;
    background: rgb(49, 30, 92) 77%;
    height: 75px;
	width: 125px;
    font-weight: 300;
    font-size: 25px;
	font-family: 'Lato';
	text-shadow: none;
    color: white
}

