header {
    text-align: center;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color:rgb(180, 149, 184)
}

a {
    text-decoration: none;
    color: white;
}

li {
    text-decoration: none;
    list-style: none;
}

.survey li {
    margin: 10px;
    cursor: pointer;
}

 .option li:before {
    content: '';
    display: inline-block;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    margin-right:0.5em;
    background-color: f2f2f2; 
} 
    


#drippy {
    height: 500px;
    width: 500px;
}